<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap 3.2.0 compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <style>
        body {
            padding-top: 50px;
        }
        .openross {
            padding: 40px 15px;
            text-align: center;
        }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        (function (w) {
            if (w.$) // jQuery already loaded, we don't need this script
                return;
            var _funcs = [];
            w.$ = function (f) { // add functions to a queue
                _funcs.push(f);
            };
            w.defer$ = function () { // move the queue to jQuery's DOMReady
                while (f = _funcs.shift())
                    $(f);
            };
        })(window);
    </script>
</head>

<body>
{% include '::nav.html.twig' %}
<div class="container">
    <div class="openross">
        {% block body %}{% endblock %}
    </div>

</div><!-- /.container -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% block javascripts %}{% endblock %}
<script type="text/javascript">window.defer$()</script>
</body>
</html>
